.slate {
  background-color: #4b5563;
}

.colorPrimaryAccent {
  color: #F02D5E;
}

.bgPrimaryAccent {
  background-color: #F02D5E;
}

.ringPrimaryAccent
{
  border: 1px solid F02D5E;
  color: #F02D5E;
  box-shadow: none;
  transition: color 0.1s ease;
}

.bgPrimaryAccent {
  background-color: #F02D5E;
  transition: background-color 0.1s ease;
}

.bgPrimaryAccent:hover {
  background-color: #c61351;
}

.sectionSubhead {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #F02D5E;
}

.quoteCallout {
  font-size: 24px;
  font-style: italic;
}
